
#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header' 
        'main' 
        'footer';
    gap: 20px;
}
#app > header {
    grid-area: header;
} 
#app > main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
}
#app > footer {
    grid-area: footer;
}
body {
    /* overflow: hidden; */
    margin: 0;
    background: linear-gradient(45deg , #fff1eb 0%, #ace0f9 100%);
} 
