/*NEW-EVENT*/

.newEvent-outsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .newEvent-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 75%;
    border: #272343 3px outset;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e3f6f5;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.3);
  }
  
  .newEvent-inputContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name input"
    "date input"
    "hill input"
    "comment input"
    "empty button"
    ;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .newEvent-titleContainer{
    color: #272343;
    margin: 10px;
  }
  
  .newEvent-name{
    grid-area: name;
  }

  .newEvent-inputField{
    grid-area: input;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200%;
  }
  
.newEvent-addButton{
  align-self: flex-end;
  background-color: #f6fdfd;
  border: #272343 outset 2px;
}

.newEvent-inputStyling{
  border-radius: 6px;
  line-height: 1.5;
  border: 2px outset #272343;
  background-color: #f6fdfd;
  padding: 10px;
  margin: 2px;
  outline: none;
  transition: 0.5s;
}

.newEvent-inputStyling:focus{
  box-shadow: -1px 1px 20px rgba(7, 89, 84, 0.3);
}