#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header li {
  display: inline;
}
#header select {
  background-color: black;
  color: white;
}
.headerbar {
  background-color: black;
  color: white;
}
.logo {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 20px;
  margin-right: 0px;
  margin-top: 5px;
}

#login {
  float: right;
} 